body {
	font-size: 100%;
	font-family: $baseFontFamily;
	font-weight: 400;
	color: $textColorDark;
	background: $darkTeal;
}

/* Links */
/*------------------------------*/
a { color: $linkPrimary;}
a:visited {}
a:hover { text-decoration: none; }
a:active { }


/* Typography */
/*------------------------------*/

h2 {
	background: $secondaryColor;
	color: white;
	padding: 5px 20px ;
	font-size: 1.625em;
	font-weight: 200;
	margin-bottom: 1em;
	text-align: left;
	display: inline-block; }
h3 {
	color: $darkTeal;
	font-size: 1.5em;
	font-weight: 400; }

p { line-height: 1.6em; }
.main-content {
	li { line-height: 1.6em; }
}

/* Images */
/*------------------------------*/

img {
	padding: 5px;
	background: $paleTeal;
}
img.no-img-border { padding: 0; }

img.pull-left {
	margin: 0 20px 20px 0; }
img.pull-right {
	margin: 0 0 20px 20px; }

.thumbnail-list { 
	padding: 0;
	border: 2px solid $paleTeal;
	width: 75px; }

/* Miscellaneous */
/*------------------------------*/
.show-more {
	display: none;
}