.navbar {
	padding: 30px 0;
	background: $primaryColor;
	margin-bottom: 0;
	.container { width: 1170px; } // bootstrap override to set fixed width
	.brand {
		float: none;
		font-size: 3em;
		color: white;
		font-weight: 600;
		text-decoration: none;
	}
	.subtitle { 
		color: #c4e7ed;
		font-size: 1.25em;
		font-style: italic;
		font-weight: 300;
		margin-top: 10px;
		.divider { color: #8eb7be; }
	}
	.nav {
		float: right;
		margin: 10px 0 0 0;
		li {
			a {
				text-shadow: 0 0 0;
				color: $primaryColorDark; 
				font-size: 1.125em;
				padding: 5px 10px;
				border-left: 1px solid #a0c5cb; }
			a:hover { 
				color: $darkTeal;
				background: $lightTeal; }
			.active,
			.active:hover {
				color: white;
				background-color: inherit;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none; }
		}
		li:first-child {
			a { border: none; }
		}
		li.active-trail {
			a, 
			a:hover {
				color: white;
				background-color: inherit;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none; }
		}
	}
}

/* Subnav */
/*------------------------------*/
.nav-header {
	font-size: 1.1em;
	padding: 0 0 0 40px;
	margin-top: 110px;
	font-weight: 600;
	color: $secondaryColor;
	text-decoration: none; }
.nav-header:hover { color: $secondaryColor; }
.sidebar {
	.menu {
		li { 
			font-size: 1.1em;
			padding-left: 40px; }
		a:hover { 
			background: inherit;
			text-decoration: underline; }
		a.active,
		a.active:hover { color: $darkGray; }
	}
}