//
// Responsive: Tablet to desktop
// --------------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {
	body { font-size: 90%; }
	#google-cse-results {
		width: 700px !important;
		iframe {
			width: 700px !important;
		}
	}
	.navbar {
		.container { width: 724px; }
		.brand { 
			font-size: 2.75em;
			margin-left: 0;
			padding-left: 0;
			padding-bottom: 0; }
		.divider { display: none; }
		.dates { display: block; }
		// .subtitle { font-size: 1em; }
		// override bootstrap nav collapse at this size
		.btn-navbar { display: none; }
		.nav {
			margin-top: 5px;
			li {
				a { 
					font-size: 1em;
					padding: 5px }
			}
		}
	}
	// override bootstrap nav collapse at this size
	.nav-collapse, 
	.nav-collapse.collapse { overflow: visible; }
	.nav-collapse {
		.nav > li { 
			float: left;
			font-size: 90%; }
		.nav > li > a { 
			font-weight: normal;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0; }
	}
	.featured-content {
		h3 { font-size: 1.25em; }
	}
	.about-racker {
		img { width: 70px; }
		p.text { width: 60%; }
	}
	.album-thumbnails {
		img { max-width: 95px; }
	}
	.callout-box {
		margin-top: -260px;
		width: 250px;
		h3 { font-size: 1.5em; }
	}
}