//
// Responsive: Phone
// --------------------------------------------------

@media (max-width: 480px) {
	.navbar {
		.brand { 
			font-size: 2.5em;
			padding: 0; }
		.divider { display: none; }
		.dates { display: block; }
	}
	.subtitle { margin-left: 5px; }
	.nav-header {
		padding: 0; 
	}
	.sidebar {
		.menu {
			li { padding-left: 0; }
		}
	}
	.pull-left,
	.pull-right,
	img.pull-left,
	img.pull-right { 
		float: none;
		margin: 0 0 15px 0;
		text-align: center; }
	.video-player {
		object, 
		.kWidgetIframeContainer,
		iframe {
			width: 250px !important;
			height: 192px !important; }
	}
	.speaker-name { margin-top: 1em; }
	#block-views-albums-block-2 {
		.views-row {
			margin-left: 30px;
			.album-thumbnail {
				img {
					width: 90px !important;
					height: 90px !important; }
			}
		}
	}
}

