//
// Responsive: Phone
// --------------------------------------------------

@media (max-width: 480px) {
	.navbar {
		.brand { 
			font-size: 2.5em;
			margin: 0;
			padding: 0; }
		.divider { display: none; }
		.dates { display: block; }
	}
}

