//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------

@media (max-width: 767px) {
	body { 
		padding: 0;
		margin: 0;
		font-size: 90%; }
	.navbar {
		padding: 0 0 15px 0;
		.brand {
			margin: 0;
			padding: 0 0 5px; }
		.container { 
			width: auto;
			padding: 0 10px; }
		.btn-navbar {
			background: $darkTeal;
			margin-top: 30px;
		}
		.btn-navbar:hover { background: $darkTeal; }
		.nav {
			float: none;
			padding: 5px 0;
			li {
				a,
				a:hover {
					background-image: none;
					border: 0; }
				a { 
					color: white;
					font-weight: normal; }
			}
		}
	}
	header { display: none; }
	.main-content { margin-top: 0; }
	.mobile-nav {
		text-align: right;
		margin-bottom: 10px;
		.btn { display: inline-block !important; }
	}
	.container { padding: 0 10px; }
	.nav-collapse {
		background: $darkTeal;
		margin-top: 10px;
		.nav > li > a:hover { 
			font-weight: normal;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0; }
		.nav { 
			text-align: left;
			margin: 0; }
		.nav > li > a { margin-bottom: 0; }
	}
	.about-racker {
		p.portrait { width: 25%; }
	}
	.about-racker {
		p { 
			width: 95%;
			float: none; }
		img { margin-bottom: 15px; }
	}
	.albums { 
		clear: both;
		img { width: 100% !important; }
	}
	footer {
		.container { padding: 20px 10px;}
	}
	.views-field-field-lecture-type { display: none; }
	.form-search {
		.input-append {
			.search-query { background: white !important; }
		}
	}
	#google-cse-results {
		width: 100% !important;
		iframe {
			width: 100% !important;
		}
	}
	#kaltura_player_1377874792 {
		width: 600px !important;
		height: 419px !important;
	}
}

