//
// Responsive: Phone
// --------------------------------------------------

@media (max-width: 480px) {
	.navbar {
		.brand { 
			font-size: 2.5em;
			padding: 0; }
		.divider { display: none; }
		.dates { display: block; }
	}
	.nav-header {
		padding: 0; 
	}
	.sidebar {
		.menu {
			li { padding-left: 0; }
		}
	}
	.pull-left,
	.pull-right,
	img.pull-left,
	img.pull-right { 
		float: none;
		margin: 0 0 15px 0;
		text-align: center; }
	.video-player {
		object,
		video,
		source,
		div {
			width: 250px !important;
			height: 192px !important; }
	}
}

