.search-box {
  text-align: right;
  margin-top: 20px;
  input.search-query { 
  	background: $darkerGray;
  	border: none;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	color: $lightTeal;
  	font-family: $baseFontFamily; }
}

// Override default search form rules
.search-box {
  form.pull-left { float: none; }
  .btn {
    padding: 3px 12px;
    background-image: none;
    background-color: $mediumGray;
    text-shadow: none;
    border-color: $mediumGray;
  }
}

// Override default Google search box rules
.form-search {
  .input-append {
    .search-query {
      background: $darkerGray !important;
      background-image: none !important; }
  }
}
.main-content {
  .form-search {
    .input-append {
      .search-query {
        background: white !important; }
    }
  }
  form.pull-left { float: none; }
}