// Cornell
// -------------------------

$cornell-primary: #4d4e53;
$cornell-primary-hover: #990f26;
$cornell-font: verdana, sans-serif;

// Colors
// -------------------------

$darkGray: #4d4e53;
$darkerGray: #424244;

$primaryColor: #7ca0a6; // teal
$primaryColorDark: #2c4f54;
$secondaryColor: #d89a45; // goldenrod

$darkTeal: #13363c;
$lightTeal: #a5cfd6;
$paleTeal: #e4eef0;

$darkRed: #740516;

$textColorDark: #333;

$mediumGray: #858888;

$linkPrimary: #38818d;

// Fonts
// -------------------------
$baseFontFamily:        'Open Sans';        @import
url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);
