/*
Syntax error: Invalid CSS after "}": expected selector or at-rule, was "}"
        on line 48 of _navigation.scss
        from line 11 of style.scss

43: 				-moz-box-shadow: none;
44: 				box-shadow: none; }
45: 		}
46: 	}
47: }
48: }

Backtrace:
_navigation.scss:48
style.scss:11
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1148:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:1084:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/scss/parser.rb:28:in `parse'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:342:in `_to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:274:in `to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194@sass-gemset/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected selector or at-rule, was \"}\"\A         on line 48 of _navigation.scss\A         from line 11 of style.scss\A \A 43: 				-moz-box-shadow: none;\A 44: 				box-shadow: none; }\A 45: 		}\A 46: 	}\A 47: }\A 48: }"; }
