/* Slideshow */
/*------------------------------*/

.hero {
	background: $primaryColor;
	img { padding: 0; }
}
.region-home-slideshow { 
	border: 2px solid white;
	z-index: 10;
	img {
		padding: 0; }
}

/* Featured content */
/*------------------------------*/

.featured-content {
	padding: 60px 0 40px 0;
	background: white;
	margin-top: -50px;
	h3 {
		background: $secondaryColor;
		color: white;
		padding: 5px 10px ;
		font-size: 1.625em;
		font-weight: 200;
		margin-bottom: 1em;
		text-align: center; }
}

/* Callout box */
/*------------------------------*/

.featured-content {
	.callout {
		margin-bottom: 30px;
		h3 { 
			background: $darkRed; }
	}
}

/* About Racker */
/*------------------------------*/
.about-racker {
	p.text { 
		float: right;
		width: 65%; }
	p.portrait {
		float: left;
		margin-right: 10px; }
	.emphasize {
		font-size: 110%;
		font-weight: 600; }
	.text-right { clear: both; }
}

/* Warburg Institute */
/*------------------------------*/
.albums {
	.album-thumbnails {
		text-align: center;
		margin-bottom: 1em; }
}


/* Lecture series */
/*------------------------------*/
.lecture {
	content: "";
	display: table;
	clear: both;
	padding: 0 0 10px 0;
	margin-bottom: 10px;
	background: url("../images/interview-bg.png") no-repeat bottom;
	border-bottom: 1px solid $paleTeal;
	width: 100%;
	img {
		float: left;
		margin-right: 10px;
		width: 60px; }
}
.lecture-title { margin-bottom: 0.25em; }
.lecture-info {
	font-size: 0.75em;
	color: $mediumGray; }
.lecture-series {
	h4 { 
		text-transform: uppercase;
		color: $darkRed;
		font-size: .875em; }
	.date { font-size: .75em; }
	.title {
		line-height: 1.2em;
		font-weight: 600;
		margin-bottom: .75em; }
	.speaker { margin-bottom: .5em; }
	.affiliation {
		p { font-size: .75em; }
	}
	.well { 
		padding: 5px 10px; }
}
.upcoming-photo {
	img {
		width: 60px;
		float: left;
		margin: 0 10px 10px 0;
		background: #ccc;
	}
}
