/* Institution branding */
/*------------------------------*/
.institution-brand {
	background: $darkGray;
	padding: 12px 0;
	a { color: #fefefe; }
}

/* Header on sub pages */
/*------------------------------*/
header {
	background: $primaryColor;
	img { 
		border: 2px solid white;
		padding: 0; }
	.caption {
		text-align: right;
		margin-top: -30px;
		margin-right: 15px;
		// font-size: 0.75em;
		font-style: italic; }
}


/* Main content on sub pages */
/*------------------------------*/
.main-content { 
	background: #fff;
	margin-top: -35px;
	padding: 45px 0 40px; }

/* Sidebar on sub pages */
/*------------------------------*/

.sidebar {
	margin-top: 2em;
}

.sidebar-image {
	text-align: center;
	margin: 60px 0; }

/* Footer */
/*------------------------------*/
footer {
	color: $primaryColor;
	.container { padding: 30px 0; }
	ul.nav {
		list-style: none;
		margin: 0 0 1em;
		li { 
			display: inline-block;
			border-left: 1px solid $primaryColor;
			padding: 0 5px 0 10px;
			font-size: 14px;
		}
		li:first-child { 
			border-left: none;
			padding-left: 0; }
		li { 
			color: $primaryColor;
			a.active { color: white; }
			.divider { color: $primaryColor; }
		}
		a:hover { 
			background: inherit;
			text-decoration: underline; }
	}
	a { 
		color: $primaryColor;
		text-decoration: none; }
	a:hover { 
		color: white; }
	p { font-size: 14px; }
	.nav > li > a {
		padding: 5px 10px;
	}
	.nav > li:first-child > a {
		padding-left: 0;
	}
}

/* Albums page */
/*------------------------------*/

.views-field.views-field-field-album-date { width: 35%;}

// Albums home page block

#block-views-albums-block-2 {
	.views-row {
		text-align: center;
		margin-left: 20px;
		.album-thumbnail {
			float: left;
			margin: 0 5px 10px;
		}
	}
	.view-footer { clear: both; }
}

/* Lectures list */
/*------------------------------*/

#block-views-lecture-list-block {
	.icon-film {
		margin-left: 5px;
		color: $secondaryColor;
		// font-size: 0.875em;
	}
}

/* Lectures page */
/*------------------------------*/

.technical-title { 
	margin-top: .25em; }
.view-lectures-new {
	.lecture-info {
		color: $textColorDark;
		margin-bottom: .5em;
	}
}
.lecture-speaker {
	font-size: 18px;
}
.speaker-info {
	margin: 30px 0;
 	h3 { margin-bottom: 1em; }
}
.speaker-name {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: .5em; }
.speaker-affiliation {
	font-color: $darkGray;
	font-style: italic; }
.speaker-bio {
	font-size: 0.875em; }
.transcript-link {
	display: block;
	margin-top: 20px;
	font-size: 0.875em;
}
.media-type { 
	font-size: 80%;
	color: $secondaryColor;
	text-transform: uppercase;
	font-weight: 700; }
.video-player > div { margin: 0 auto; }
.missing-captions {
	font-size: .75em;
	color: #999;
}

/* About slideshow */
/*------------------------------*/

.about-slideshow {
	background: $paleTeal;
	text-align: center;
	.caption { 
		margin-top: .5em;
		font-size: 14px;
	}
	img { 
		padding: 0;
		border: 0; }
	.views-slideshow-controls-top {
		margin-bottom: .5em;
		font-size: 14px;
	}
}

/* Webforms */
/*------------------------------*/
form.webform-client-form {
	margin-top: 1em;
	padding: 30px;
	background: $paleTeal;
	.description { 
		font-size: 12px;
		margin-top: .5em;
	}
	.webform-component { margin: 0 0 1em; }
	.form-radios { margin-left: 15px; }
	input,
	textarea { font-family: $baseFontFamily; }
}
// Email field needs Bootstrap
.form-email {
  display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

/* Transcript */
/*------------------------------*/

.transcript {
	border-left: 5px solid $paleTeal;
	padding-left: 20px;
	margin-top: 20px;
	dd { 
		margin-left: 0;
		margin-bottom: 1em; }
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up) 
@media (min-width: $screen-sm) { 
  	.video-player > div {
		width: 250px !important;
		height: 192px !important; }
	}
}

// Medium devices (desktops, 992px and up) 
@media (min-width: $screen-md) {
	.video-player > div {
		width: 560px !important;
		height: 395px !important; }
	}
}

// Large devices (desktops, 1200px and up) 
// @media (min-width: $screen-lg) {
// }