//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 980px) and (max-width: 1199px) {
	body { font-size: 90%; }
	.navbar {
		.container { width: 940px; }
		.brand { 
			font-size: 3em;
			padding-bottom: 5px; }
		.subtitle { font-size: 1.1em; }
	}
	.album-thumbnails {
		img { max-width: 130px; }
	}
	.callout-box {
		margin-top: -310px;
		width: 300px;
	}
	.about-racker {
		p.text { width: 60%; }
	}
	#block-views-albums-block-2 {
		.views-row {
			margin-left: 30px;
			.album-thumbnail {
				img {
					width: 100px !important;
					height: 100px !important; }
			}
		}
	}
}
